torch
torchvision
torchaudio
opencv-python
pillow
timm
albumentations
ultralytics
matplotlib
scikit-learn
tqdm
fastapi
uvicorn[standard]
faiss-cpu
onnx
onnxruntime
onnxsim
python-multipart
pillow-heif
